mixin header(data)
    header.header
        .header__menu
            <img src="img/header_menu.png" alt="Menu">
        .header__logo
            <img src="img/header_menu.png" alt="Menu">
        .header__btn
        .header__search
